body{
  margin: 0;
  background-color: #444
}

div#main{
    text-align: center
}

h1{
    background: linear-gradient(to left, rgb(255, 196, 0), rgb(255, 102, 0));
    color: #4c3e39;
    font-size: 37px;
    line-height: 1.3em;
    margin-top: 0;
}

button{
    outline: none;
    border: none;
    border-radius: 3px/11px;
    padding: 7px 19px;
    line-height: 1em;
    cursor: pointer;
    box-shadow: 0 1px 5px #333;
    background: linear-gradient(to left, rgb(255, 196, 0), rgb(255, 102, 0));
    font-size: 33px;
    letter-spacing: 2px;
    color: #4c3e39;
}

button:hover{
    background: linear-gradient(to right bottom, rgb(255, 196, 0), rgb(255, 102, 0));
    transition: 1s;
    box-shadow: 0 0 3px #ffffff inset;
}
